* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif
}

/* HTML */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Table design */
table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    font-size: 0.9em;
    font-family: ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead, tr {
    background-color: darkcyan;
    color: yellow;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    font-weight: bold;
    font-size: 18px;
}

table thead th, td {
    padding: 12px 15px;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}

table tbody tr {
    border-bottom: 1px solid whitesmoke;
    background-color: lightgrey;
    font-weight: bold;
    text-align: left;
    color: black;
}

.id{
    font-color: purple;
}

/*th.submission_time {*/
/*    white-space: nowrap;*/
/*}*/

form {
    margin-top: 20px;
}

/* Navigation bar */
.navbar {
    width: 100%;
    background-image: linear-gradient(darkcyan, darkslategray);
    box-shadow: 1px 1px 10px darkslategrey;
    padding: 10px;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    opacity: 80%;
}

.logo {
    display: inline-block;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: lightgoldenrodyellow;
    font-family: ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
}

.nav-item:hover {
    background-color: yellow;
    color: darkslategrey;
    border-radius: 10px;
}

.nav-item:hover a {
    color: darkslategrey;
}

.logo img {
    width: 80px;
    vertical-align: middle;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

@media (max-width: 640px) {
    .navbar {
      flex-direction: column;
      direction: ltr;
    }

    .navbar ul {
      flex-direction: column;
    }

    .navbar li {
      margin: 0.8em 0;
    }
}

.page-wrap {
    top: auto;
    width: 100%;
}

/* Ask a question button */
a.ask-button:link, a.ask-button:visited  {
    color: yellow;
    background-color: darkcyan;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border-radius: 1px;
    font-family: ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    border: 1px solid darkcyan;
}

a.ask-button:hover, a.ask-button:active {
    background-color: yellow;
    color: darkcyan;
}

/* question bar */
.question-bar {
    background-color: darkcyan;
    margin: auto;
    width: 80%;
    border: 1px solid yellow;
    justify-content: space-between;
    align-items: center;
    color: yellow;
    font-weight: bold;
    font-family: ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

form.search {
    display: inline-block;
    width: 70%;
}

input[type=text] {
    margin: 2px 1px 2px 180px;
    border:0;
    border-radius: 3px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    color: darkslateblue;
    width: 70%;
}

input, textarea {
    font-family:inherit;
    font-size: inherit;
}
