* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HTML */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Table design */
table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    font-size: 0.9em;
    font-family: ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead, tr {
    background-color: darkcyan;
    color: yellow;
    text-align: center;
    border-bottom: 1px solid lightslategray;
    border-top: 1px solid lightslategray;
    font-weight: bold;
    font-size: 18px;
}

table thead th, td {
    border-left: 1px solid lightslategray;
    border-right: 1px solid lightslategray;
    padding: 12px 30px;
    align-content: center;
}

table tbody tr {
    background-color: lightyellow;
    font-weight: bold;
    text-align: left;
    color: black;
}

.id{
    font-color: purple;
}

/*th.submission_time {*/
/*    white-space: nowrap;*/
/*}*/

form {
    margin-top: 20px;
}

/* Navigation bar */
.navbar {
    width: 100%;
    background-image: linear-gradient(darkcyan, darkslategray);
    box-shadow: 1px 1px 10px darkslategrey;
    padding: 20px;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    opacity: 100%;
}

.logo {
    display: inline-block;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: yellow;
    font-family: 'Roboto', sans-serif;
}

.nav-item:hover {
    background-color: yellow;
    color: darkslategrey;
    border-radius: 10px;
}

.nav-item:hover a {
    color: darkslategrey;
}

.logo img {
    width: 100px;
    vertical-align: middle;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

@media (max-width: 640px) {
    .navbar {
      flex-direction: column;
      direction: ltr;
    }

    .navbar ul {
      flex-direction: column;
    }

    .navbar li {
      margin: 0.8em 0;
    }
}

.page-wrap {
    width: 100%;
    margin: 100px 1px;
}

/* Ask a question button */
a.ask-button:link, a.ask-button:visited  {
    color: yellow;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    border-radius: 1px;
    font-size: 16px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

a.ask-button:hover, a.ask-button:active {
    background-color: yellow;
    color: darkcyan;
}

a.tag-button:link, a.tag-button:visited {
    color: darkcyan;
    text-decoration: none;
}

a.tag-button:hover{
    color: yellow;
}

/* question bar */
.question-bar {
    background-color: darkcyan;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    color: yellow;
    font-weight: bold;
    font-family: ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow:15px 4px 15px 4px rgba(0,0,0,0.06);
}

form.search {
    display: inline-block;
    width: 70%;
    padding-left: 200px;
}

input[type=text].search {
    margin: auto;
    border:0;
    border-radius: 3px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    color: yellow;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    background-color: darkslategray;
    opacity: 50%;
    text-align: center;
    display: flex;
}

input.search, textarea {
    font-family:inherit;
    font-size: inherit;
    padding: 15px;
}

span.highlight {
    background-color: yellow;
}

/* Ask question form */




/* Back button */
a.back-button:link, a.back-button:visited {
    background-color: darkcyan;
    color: yellow;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding: 20px 20px;
    display: inline-block;
    text-transform: uppercase;
    margin: 1px 200px;
    border: 1px solid darkcyan;
    position: relative;
}

a.back-button:hover, a.back-button:active {
    background-color: yellow;
    color: darkcyan;
}

a.add-button:link, a.add-button:visited {
    background-color: darkcyan;
    color: yellow;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding: 5px 8px 5px 8px;
    display: inline-block;
    text-transform: uppercase;
    margin: 10px;
    border: 1px solid darkcyan;
}

a.add-button:hover, a.add-button:active {
    background-color: yellow;
    color: darkcyan;
}

a.edit:link, a.edit:visited  {
    color: yellow;
    background-color: darkcyan;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 1pt solid darkcyan;
    opacity: 70%;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

a.edit:hover, a.edit:active {
    background-color: yellow;
    color: darkcyan;
    border: 1pt solid darkcyan;
}

a.vote:link, a.vote:visited  {
    color: yellow;
    background-color: darkcyan;
    text-decoration: none;
    border-radius: 10px;
    border: 1pt solid darkcyan;
    opacity: 70%;
}

a.vote:hover, a.vote:active {
    background-color: yellow;
    color: darkcyan;
    display: inline-block;
    border: 1pt solid darkcyan;
}

.answers, .questions {
    display: inline-list-item;
    width: 80%;
    margin: auto;
}

.answer_comments, .question_comments {
    display: inline-list-item;
    width: 100%;
    margin: auto;
}

.form {
    border-collapse: collapse;
    margin: auto;
    width: 30%;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    background-color: darkcyan;
    color: yellow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.form input, textarea {
    width: 80%;
    font-family:inherit;
    font-size: 16px;
    padding: 15px;
}

.tag-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    margin: auto;
    align-items: center;
}

.tag-form input {
    width: min-content;
    align-items: center;
    margin: auto;
}

button.submit {
    background-color: yellow;
    color: darkcyan;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    position: relative;
}

button.submit:hover {
    background-color: yellow;
    color: darkcyan;
    transition: 0.3s;
}

button.submit:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px cyan;
    transition: 0.7s;
}

button.submit:active {
    background-color: yellow;
    color: darkcyan;
}

button.filter {
    font-weight: bold;
    background-color:darkslategray;
    color: yellow;
    border: 0;
    border-radius: 3px;
    padding: 3px;
    margin: auto;
    display: flex;
}

button.filter:hover {
    background-color: yellow;
    color: darkcyan;
    transition: 0.3s;
}

button.filter:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px cyan;
    transition: 0.7s;
}

button.filter:active {
    background-color: yellow;
    color: darkcyan;
}

button.visit_user {
    font-weight: bold;
    background-color:darkslategray;
    color: yellow;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

button.visit_user:hover {
    background-color: yellow;
    color: darkcyan;
    transition: 0.3s;
}

button.visit_user:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px cyan;
    transition: 0.7s;
}

button.visit_user:active {
    background-color: yellow;
    color: darkcyan;
}

/* Dropdown menu*/
.dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 1px 10px 10px 1px rgba(0,0,0,0.4);
    background-color: #00A4BD;
    text-align: center;
    z-index: 20;
    opacity: 90%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: whitesmoke;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #00A4BD;
    background-color: yellow;
}

.dropdown button {
    font-weight: bold;
    background-color:#00A4BD;
    color: yellow;
    border: 0;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
    margin: auto;
    display: flex;
    opacity: 80%;
    text-transform: uppercase;
    box-shadow: 1px 5px 5px 1px rgba(0,0,0,0.4);
}


th .box {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    align-content: center;
    align-items: center;
}

th .box form{
    width: min-content;
    margin: auto;
    align-content: center;
    align-items: center;
}

th .column_name {
    width: min-content;
    align-content: center;
    margin-left: auto;
    padding-right: 5px;
}

.filter-head {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.question-tags {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-left: 120px;
}

.tag-links {
    list-style: none;
    display: flex;
}

.tag-item {
    display: inline-block;
    align-items: center;
    padding-left: 10px;
    align-content: center;
    text-decoration: none;
    background-color: darkslategray;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

a.delete-button:link, a.delete-button:visited {
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    display: inline-block;
    text-transform: uppercase;
    margin: 10px;
}

a.delete-button:hover, a.delete-button:active {
    background-color: orangered;
    color: white;
    padding: 0 2px 0 2px;
}

.answer_comment_header {
    background-color: darkcyan;
    text-align: center;
    color: yellow;
    font-weight: bold;
    opacity: 60%;
}

.profile-container {
    display: flex;
    background-color: darkcyan;
    border: 1px solid yellow;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    color: yellow;
    align-items: center;
    justify-content: center;
    scrollbar-gutter: auto;
    position: fixed;
    top: 20%;
    left: 25%;
    height: 50vh;
    width: 50vw;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: -1;
}

.profile-container.show {
    pointer-events: auto;
    opacity: 100%;
    z-index: 1;
}

.profile {
    flex-direction: column;
    border-radius: 5px;
    padding: 30px 50px;
    max-width: 100%;
    text-align: center;
    width: 620px;
}

.menu {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    font-size: 0.9em;
    font-family: ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: yellow;
    background-color: darkcyan;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.bonus {
    display: flex;
    flex-direction: row;
}

.bonus div:last-child {
    margin-left: auto;
    margin-right: 1em;
    position: relative;
    width: 20%;
}

.bonus div:first-child {
    margin-left: 1em;
    margin-right: auto;
    width: 20%;
}

.bonus-font {
    display: flex;
    margin: 5px;
    right: -30px;
}

.filter-font {
    position: relative;
    top: 50%;
    transform: translateY(-80%);
    font-size: 25px;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

#theme-button {
    font-size: 25px;
}

.headline {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.filter-bar {
    width: 800px !important;
    top: -10px !important;
    position: relative;
}