{% extends 'template_site.html' %}
{% block title %}Add question{% endblock %}
{% block content %}
<a href="/list">Go back</a>
<form action="/add-question" enctype="multipart/form-data" method="post">
    <label for="title">Question</label>
    <br>
    <input type="text" id='title' name="title" size='40' placeholder="Type your question here...">
    <br>
    <p></p>
    <label for="message">Details</label>
    <br>
    <textarea id="message" name="message" cols="80" rows="6" placeholder="Write the details of your question here..."></textarea>
    <br>
    <input type="file" name="image">
    <br>
    <p></p>
    <button type="submit">Submit</button>
</form>
{% endblock %}