<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/login.css">
    <title>Title</title>
</head>
<body>
    <div class="login-box">
        <h1>Authentication</h1>
        <form>
        <a href="{{ url_for('login') }}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
        </a>
        <a href="{{ url_for('register') }}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
        </a>
        </form>
    </div>

<!--<div class="sticky"><h1>Layouts</h1></div>-->
</body>
</html>