{% extends 'template_site.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {%if question_to_update%}
    <div class="form">
        <form action="{{ action }}" enctype="multipart/form-data" method="post">
            <label for="title">Question</label><br>
            <p></p>
            <br><input type="text" id="title" name="title"  minlength="5" maxlength="100" size="40" value="{{ question_to_update.title }}"><br>
            <p></p>
            <br><label for="message">Details</label><br>
            <p></p>
            <br><textarea id="message" name="message"  cols="80" rows="6" placeholder="{{ question_to_update.message }}">{{ question_to_update.message }}</textarea><br>
            <input type="hidden" name="default_image" value="{{ question_to_update.image}}">
            <br><input type="file" name="uploaded_image"><br>
            <br><button class="submit" type="submit">Submit</button><br>
        </form>
    </div>
    {%endif%}   
    {%if answer_to_update%}
        <div class="form">
        <form action='{{ action }}' enctype="multipart/form-data" method="post">
            <label for="message">Message</label>
            <br>
            <textarea id="message" name="message" cols="80" rows="6" placeholder="Write your answer here..." required>{{ answer_to_update.message }}</textarea>
            <br>
            <input type="hidden" name="default_image" value="{{ answer_to_update.image }}">
            <input type="file" name="uploaded_image">
            <br>
            <button class="submit" type="submit">Submit</button>
        </form>
        </div>
    {%endif%}  

    {%if comment_to_update%}
    <h1>Edit comment</h1>
        <form action="/comment/{{ comment_id }}/edit" method="post">
            <label for="message">Message</label>
            <br>
            <textarea id="message" name="message" cols="80" rows="6" placeholder="Write your comment here..." required>{{ message }}</textarea>
            <br>
            <button class="submit" type="submit">Submit</button>
        </form>
    {%endif%}
    <br><a class="back-button" href="{{ url_for('display_question', question_id=question_id) }}">Go back</a>
{% endblock %}