{% extends 'template_site.html' %}
{% block title %}Edit question{% endblock %}
{% block content %}
    <div class="form">
        <form action="/question/{{ id }}/edit" enctype="multipart/form-data" method="post">
            <label for="title">Question</label><br>
            <p></p>
            <br><input type="text" id="title" name="title"  minlength="5" maxlength="100" size="40" value="{{ data.title }}"><br>
            <p></p>
            <br><label for="message">Details</label><br>
            <p></p>
            <br><textarea id="message" name="message"  cols="80" rows="6" placeholder="{{ data.message }}">{{ data.message }}</textarea><br>
            <br><input type="file" name="uploaded_image"><br>
            <br><input type="hidden" name="vote_number" value="{{ data.vote_number }}"><br>
            <br><input type="hidden" name="view_number" value="{{ data.view_number }}"><br>
            <br><button class="submit" type="submit">Submit</button><br>
        </form>
    </div>
    <br><a class="back-button" href="/question/{{ id }}">Go back</a>
{% endblock %}