{% extends 'template_site.html' %}
{% block title %}Add answer comment{% endblock %}
{% block content %}
        <form action="{{ url_for('add_comment_to_answer', answer_id=answer_id) }}" method="post">
            <label for="message">Details</label>
            <br>
            <textarea id="message" name="message" cols="80" rows="6" placeholder="Write your comment here..."></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
        <br><a class="back-button" href="/list">Go back</a>
{% endblock %}