{% extends 'template_site.html' %}
{% block title %}Add question{% endblock %}
{% block content %}
        <form action="{{ url_for('display_question', question_id=question_id) }}" enctype="multipart/form-data" method="post">
            <label for="message">Details</label>
            <br>
            <textarea id="message" name="message" cols="80" rows="6" placeholder="Write your comment here..."></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
        <br><a class="back-button" href="/list">&#8592 Back</a>
{% endblock %}