{% extends 'template_site.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <a href="/list">Go back</a>
    <h2>Question</h2>
    <table>
        <tr>
            <td>
                <strong>{{ title }}</strong>
            </td>
            <td>
                {{ question }}
            </td>
{#            <td><img src="{{ url_for('static', filename=question['image']) }}" alt="{{ question['image'] }}" width="50px"></td>#}
            <td>
                <a href={{ url_for('delete_question', question_id=id) }}>Delete</a>
            </td>
            <td>
                <a href={{ url_for('edit_question', question_id=id) }}>Edit</a>
            </td>
        </tr>
    </table>
    <p></p>
    <h2>Answers</h2>
    <a href={{ url_for('add_answer', question_id=id) }}>+Add</a>
    <p></p>
    <table>
        {% for answer in answers %}
        <tr>
            <td>{{ answer['vote_number'] }}<a href="{{ url_for('vote_up_answer', answer_id=answer['id']) }}">&uarr;</a><a href="{{ url_for('vote_down_answer', answer_id=answer['id']) }}" >&darr;</a></td>
            <td>{{ answer['message'] }}</td>
            {% if answer['image'] == 'images/' or answer['image'] == None or answer['image'] == '' %}
            <td></td>
            {% else %}
            <td><img src="{{ url_for('static', filename= answer['image']) }}" alt="{{ answer['image'] }}" width="50px"></td>
            {% endif %}
            <td><a href={{ url_for('delete_answer', answer_id=answer['id']) }}>Delete</a></td>
        </tr>
        {% endfor %}

    </table>




{% endblock %}


answer['message']