{% extends 'template_site.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="page-wrap">

            <div class="questions">
            <h2>Question</h2>
                    <div class="question-tags">
                    <h3><a class="tag-button" href="/tags">Tags</a> <a class="add-button" href="{{ url_for('add_tag', question_id=question_id) }}">+</a></h3>
                        <ul class="tag-links">
                        {% for tag in question_tags %}
                            <li class="tag-item">{{ tag['name'] }} <a class="delete-button" href="{{ url_for('delete_question_tag', question_id=question_id, tag_id=tag['id']) }}">X</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                <br>
                <table>
                    <thead>
                        <tr>
                            <td>Submission time</td>
                            <td>View Number</td>
                            <td>Vote Number</td>
                            <td>Title</td>
                            <td>Question</td>
                            <td>Image</td>
                            <td>Menu</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ submission_time }}</td>
                            <td>{{ view }}</td>
                            <td>{{ vote }}</td>
                            <td>{{ title }}</td>
                            <td>{{ message }}</td>
                            {% if image == 'images/' or image == None or image == '' %}
                            <td></td>
                            {% else %}
                            <td><img src="{{ url_for('static', filename=image) }}" alt="{{ image }}" width="50px"></td>
                            {% endif %}
                            {#            <td><img src="{{ url_for('static', filename=question['image']) }}" alt="{{ question['image'] }}" width="50px"></td>#}
                            <td>
                                <div class="dropdown">
                                    <button>Options</button>
                                    <div class="dropdown-content">
                                        <a href="{{ url_for('edit_question', question_id=question_id) }}">Edit</a>
                                        <a href="{{ url_for('delete_question', question_id=question_id) }}">Delete</a>
                                        <a href="{{ url_for('add_comment_to_question', question_id=question_id) }}">Comment</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>

                <div class="question_comments">
                    <table>
                        <thead>
                        <tr>
                            <td>Submission time</td>
                            <td colspan="7">Comment</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in question_comments %}
                        <tr>
                            <td>{{ comment['submission_time'] }}</td>
                            <td colspan="6">{{ comment['message'] }}</td>
                            <td><button type="button" name="question_comment"><a class="tag-button" href="{{ url_for('edit_comment', comment_id=comment["id"])}}">Edit</a></button></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <p></p>
                </div>
            </div>

            <div class="answers">
            <h2>Answers<a class="add-button" href={{ url_for('add_answer', question_id=question_id) }}>+</a></h2>
            <p></p>
            {% for answer in answers %}
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td>Submission Time</td>
                            <td>Vote Number</td>
                            <td>Message</td>
                            <td>Image</td>
                            <td>Menu</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {% if answer['is_accepted'] %}
                                &#9989
                            {% endif %}
                            {% if not is_there_accepted_answer and is_user_the_author%}
                            <form action="/set_answer" method="post">
                            <input type="hidden" name="answer_id" value="{{ answer['id'] }}">
                            <input type="hidden" name="value" value="1">
                            <input type="hidden" name="question_id" value="{{ question_id }}">
                            <button class="submit" type="submit">Accept</button>
                            </form>
                            {% endif %}
                            {% if answer['is_accepted'] == 1 and is_user_the_author %}
                            <form action="/set_answer" method="post">
                            <input type="hidden" name="answer_id" value="{{ answer['id'] }}">
                            <input type="hidden" name="value" value="0">
                            <input type="hidden" name="question_id" value="{{ question_id }}">
                            <button class="submit" type="submit">&#8634</button>
                            </form>
                            {% endif %}

                        </td>
                        <td>{{ answer['submission_time'] }}</td>
                        <td>
                            <a class="vote" href="{{ url_for('vote_up_answer', answer_id=answer['id']) }}">&uarr;</a>
                            {{ answer['vote_number'] }}
                            <a class="vote" href="{{ url_for('vote_down_answer', answer_id=answer['id']) }}" >&darr;</a>
                        </td>
                        <td>{{ answer['message'] }}</td>
                        {% if answer['image'] == 'images/' or answer['image'] == None or answer['image'] == '' %}
                        <td></td>
                        {% else %}
                        <td><img src="{{ url_for('static', filename= answer['image']) }}" alt="{{ answer['image'] }}" width="50px"></td>
                        {% endif %}
                        <td>
                            <div class="dropdown">
                                <button>Options</button>
                                <div class="dropdown-content">
                                    <a href="{{ url_for('edit_answer', answer_id=answer['id']) }}">Edit</a>
                                    <a href="{{ url_for('delete_answer', answer_id=answer['id']) }}">Delete</a>
                                    <a href="{{ url_for('add_comment_to_answer', answer_id=answer['id']) }}">Comment</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                        <tr>
                            <td class="answer_comment_header">Submission Time</td>
                            <td class="answer_comment_header" colspan="5">Comments</td>
                        </tr>
                        {% for comment in answer_comments[loop.index - 1] %}
                            <tr>
                                <td>{{ comment['submission_time'] }}</td>
                                <td colspan="4">{{ comment['message'] }}</td>
                                <td><button type="button" name="answer_comment"><a class="tag-button" href="{{ url_for('edit_comment', comment_id=comment.id)}}">Edit</a></button></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            {% endfor %}
        <br><a class="back-button" href="/list">&#8592 Back</a>
    </div>
{% endblock %}
</div>