{% extends 'template_site.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="page-wrap">

            <div class="questions">
            <h2>Question</h2>
                    <div class="question-tags">
                    <h3>Tags<a class="add-button" href="{{ url_for('add_tag', question_id=question_id) }}">+</a></h3>
                        <ul class="tag-links">
                        {% for tag in question_tags %}
                            <li class="tag-item">{{ tag['name'] }} <a class="delete-button" href="{{ url_for('delete_question_tag', question_id=question_id, tag_id=tag['id']) }}">X</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                <br>
                <table>
                    <thead>
                        <tr>
                            <td>Submission time</td>
                            <td>View Number</td>
                            <td>Vote Number</td>
                            <td>Title</td>
                            <td>Question</td>
                            <td>Image</td>
                            <td>Menu</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ submission_time }}</td>
                            <td>{{ view }}</td>
                            <td>{{ vote }}</td>
                            <td>{{ title }}</td>
                            <td>{{ message }}</td>
                            <td>{{ image }}</td>
                            {#            <td><img src="{{ url_for('static', filename=question['image']) }}" alt="{{ question['image'] }}" width="50px"></td>#}
                            <td>
                                <div class="dropdown">
                                    <button>Options</button>
                                    <div class="dropdown-content">
                                        <a href="{{ url_for('edit_question', question_id=question_id) }}">Edit</a>
                                        <a href="{{ url_for('delete_question', question_id=question_id) }}">Delete</a>
                                        <a href="{{ url_for('add_comment_to_question', question_id=question_id) }}">Comment</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="question_comments">
                    <table>
                        <thead>
                        <tr>
                            <td>Submission time</td>
                            <td>Comment</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in question_comments %}
                        <tr>
                            <td>{{ comment['submission_time'] }}</td>
                            <td>{{ comment['message'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <p></p>
                </div>
            </div>

            <div class="answers">
            <h2>Answers<a class="add-button" href={{ url_for('add_answer', question_id=question_id) }}>+</a></h2>
            <p></p>
                <table>
                    <thead>
                        <tr>
                            <td>Submission Time</td>
                            <td>Vote Number</td>
                            <td>Message</td>
                            <td>Image</td>
                            <td>Menu</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for answer in answers %}
                    <tr>
                        <td>{{ answer['submission_time'] }}</td>
                        <td>
                            <a class="vote" href="{{ url_for('vote_up_answer', answer_id=answer['id']) }}">&uarr;</a>
                            {{ answer['vote_number'] }}
                            <a class="vote" href="{{ url_for('vote_down_answer', answer_id=answer['id']) }}" >&darr;</a>
                        </td>
                        <td>{{ answer['message'] }}</td>
                        {% if answer['image'] == 'images/' or answer['image'] == None or answer['image'] == '' %}
                        <td></td>
                        {% else %}
                        <td><img src="{{ url_for('static', filename= answer['image']) }}" alt="{{ answer['image'] }}" width="50px"></td>
                        {% endif %}
                        <td>
                            <div class="dropdown">
                                <button>Options</button>
                                <div class="dropdown-content">
                                    <a href="{{ url_for('edit_answer', answer_id=answer['id']) }}">Edit</a>
                                    <a href="{{ url_for('delete_answer', answer_id=answer['id']) }}">Delete</a>
                                    <a href="{{ url_for('add_comment_to_answer', answer_id=answer['id']) }}">Comment</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="answer_comments">
                        <table>
                            <thead>
                            <tr>
                                <td>Submission time</td>
                                <td>Comment</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in answer_comments %}
                            <tr>
                                <td>{{ comment['submission_time'] }}</td>
                                <td>{{ comment['message'] }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    <p></p>
                    </div>
                </div>

        <br><a class="back-button" href="/list">Go back</a>
    </div>
{% endblock %}


answer['message']