{% extends "template_site.html"%}
{% block title %}List users{% endblock %}
{#<script src="https://code.jquery.com/jquery-3.6.0.js"></script>#}
{#  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>#}
{% block content %}
<div class="page-wrap">
        {% if session["user"] is defined %}
       <table>
       <thead>
       <tr>
           <th>Username</th>
           <th>Registration date</th>
       </tr>
       </thead>
       <tbody>
       {% for user in user_details %}
       <tr>
           <td><button class="visit_user" id="open">{{ user.username }}</button></td>
           <td>{{ user.registration_date }}</td>
       </tr>
       {% endfor %}
       </tbody>
       </table>
        <br><a class="back-button" href="/list">Go back</a>
    {% else %}
    <div class="form">
            <a href="https://lmgtfy.app/?q=how+to+login+to+a+site">FYI</a>
    </div>
            <script>
            alert('LOGOLJ MAR BE KONYORGOM!!!')
            </script>
    {% endif %}
    </div>

    <div class="profile-container" id="profile_container">
        <div class="profile">
            <h1>Profile</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci animi architecto cum dicta
            dolor eaque eius eveniet expedita illo, in inventore iusto labore laborum laudantium maxime molestiae necessitatibus
            nemo numquam omnis quae quidem quisquam reprehenderit repudiandae ut velit, veniam vitae voluptate voluptatibus
            voluptatum. Ad dolores laudantium maiores nobis veritatis.</p>
            <button class="visit_user" id="close">Close</button>
        </div>
    </div>
<script src="/static/js/userProfile.js"></script>
{% endblock %}